ctransformers==0.2.5
sentence-transformers==2.2.2
pinecone-client>=2.2.0
flask
pypdf
python-dotenv
ipykernel
langchain==0.1.9
langchain-pinecone==0.0.3
# LangChainDeprecationWarning: Importing document loaders from langchain is deprecated. 
# Importing from langchain will no longer be supported as of langchain==0.2.0. Please import from langchain-community instead
langchain-community
-e .
